@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url(/images/bg.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stat-title {
  opacity: 0.8;
}

.stat-desc {
  opacity: 0.8;
}

.glass,
.glass:hover,
.glass.btn-active {
  border: none;
  -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
  backdrop-filter: blur(var(--glass-blur, 40px));
  background-image: linear-gradient(
    135deg,
    rgb(255 255 255 / var(--glass-opacity, 30%)) 0%,
    rgb(0 0 0 / 0%) 100%
  );
  box-shadow: 0 0 0 1px rgb(255 255 255 / var(--glass-border-opacity, 10%))
      inset,
    0 0 0 2px rgb(0 0 0 / 5%);
  text-shadow: 0 1px rgb(0 0 0 / var(--glass-text-shadow-opacity, 5%));
}
