@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  background-image: url("/images/bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.stat-title {
  opacity: 0.8;
}

.stat-desc {
  opacity: 0.8;
}

.tab-lifted {
  border-bottom-color: transparent;
}

.tab-lifted.tab-active {
  background: transparent;
}

.tab-lifted.tab-active:before,
.tab-lifted.tab-active:after {
  background-image: none !important;
}

.glass,
.glass:hover,
.glass.btn-active,
.tab-lifted.glass {
  border: none;
  -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
  backdrop-filter: blur(var(--glass-blur, 40px));
  background-image: linear-gradient(
    135deg,
    rgb(255 255 255 / var(--glass-opacity, 30%)) 0%,
    rgb(0 0 0 / 0%) 100%
  );
  box-shadow: 0 0 0 1px rgb(255 255 255 / var(--glass-border-opacity, 10%))
      inset,
    0 0 0 2px rgb(0 0 0 / 5%);
  text-shadow: 0 1px rgb(0 0 0 / var(--glass-text-shadow-opacity, 5%));
}

[data-theme="dark"],
[data-theme="dark"] .glass,
[data-theme="dark"] .glass:hover,
[data-theme="dark"] .glass.btn-active,
[data-theme="dark"] .tab-lifted.glass {
  border: none;
  -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
  backdrop-filter: blur(var(--glass-blur, 40px));
  background-image: linear-gradient(
    135deg,
    rgb(0 0 0 / var(--glass-opacity, 30%)) 10%,
    rgb(0 0 0 / 0%) 100%
  );
  box-shadow: 0 0 0 1px rgb(0 0 0 / var(--glass-border-opacity, 10%)) inset,
    0 0 0 2px rgb(128 128 128 / 15%);
  text-shadow: 0 1px rgb(0 0 0 / var(--glass-text-shadow-opacity, 5%));
}

.table :where(tbody th, tbody td, thead th, thead td, tfoot th, tfoot td) {
  background-color: transparent;
}
